.confirmation-container {
  max-width: 550px;
  margin: 0px auto;
  display: block;
}

.confiramtion-header {
  font-size: 2.5em;
  line-height: 1.5;
  margin-bottom: 10px;
}

.gif-confirmation {
  width: 100%;
  margin-bottom: 20px;
}

.confirmation-text {
  margin-top: 20px;
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 20px;
  line-height: 1.4;
}

.email-inbox-img {
  width: 100%;
  margin-bottom: 20px;
}

.open-email-button {
  border: 1px solid #44a3e4;
  color: #44a3e4;
  background: transparent;
  font-size: 18px;
  font-weight: bold;
  width: auto;
  height: 45px;
  text-align: center;
  line-height: 45px;
  border-radius: 5px;
  padding: 0px 12px;
  outline: 0;
  margin: 20px 0px 0px;
}

.email-inbox-img.contacts {
  width: 300px;
  margin: 20px auto;
  display: block;
}

.social-buttons {
  display: block;
  width: 100%;
  float: none;
  margin-top: 20px;
}

.social-button {
  width: 120px;
  margin-right: 8px;
  margin-left: 8px;
  padding: 0px;
  border: none;
  &:first-child {
    margin-right: 0px;
  }
  &:last-child {
    margin-left: 0px;
  }
  &.whatsapp {
    display: none;
  }
  &:first-child {
    margin-right: auto;
  }
  &:last-child {
    margin-left: auto;
  }
}

@media screen and (max-width: 440px) {
  .social-buttons {
    width: 100%;
    margin-top: 0px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    line-height: 23px;
  }
  .social-button {
    width: 180px;
    padding-top: 15px;
    margin: 0px auto;
    display: block;
    float: none;
    border: none;
  }
}

@media screen and (max-width: 365px) {
  .confiramtion-header {
    font-size: 2em;
  }
}